@model IEnumerable<RenderMentor.Models.HomeSlider>
@{
    Layout = null;
}

@if (Model.Count() > 0)
{
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @{int i = 0;}
            @foreach (var indicator in Model)
            {
            <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                i++;
            }
        </ol>

        <div class="carousel-inner">
            @foreach (var slide in Model)
            {
            <div class="carousel-item padding-y-80 height-90vh@(Model.First() == slide ? " active" : "")">
                <div class="bg-absolute" data-dark-overlay="4" style="background:url(@slide.SlideBg.Replace("\\", "/")) no-repeat"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mx-auto text-center text-white">
                            @if (!String.IsNullOrEmpty(slide.Title))
                            { 
                                <h1 class="display-lg-3 font-weight-bold animated slideInUp">
                                    @slide.Title
                                </h1>
                            }
                            @if (!String.IsNullOrEmpty(slide.Desc))
                            {
                                <p class="lead animated fadeInUp">
                                    @slide.Desc
                                </p>
                            }
                            @if (!String.IsNullOrEmpty(slide.ButtonLink))
                            {
                                <a href="@slide.ButtonLink" class="btn btn-primary mt-3 mx-2 animated slideInUp">@slide.ButtonText</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <i class="ti-angle-left iconbox bg-black-0_5 hover:primary"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <i class="ti-angle-right iconbox bg-black-0_5 hover:primary"></i>
        </a>
    </div>
}


