@model RenderMentor.Models.ViewModels.AdminInstructorVM
@{
    Layout = "~/Views/Shared/_Layout-admin.cshtml";
    var title = "Eğitmen Ekle";
}

<div class="col-lg-10">
    <div class="row mb-4">
        <div class="col-md-6">
            @if (Model.Id != 0)
            {
                // edit
                title = "Eğitmen Bilgilerini Düzenle";
            }
            <h1>@title</h1>
            <ol class="breadcrumb breadcrumb-double-angle bg-transparent p-0">
                <li class="breadcrumb-item"><a asp-area="Base" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin</a></li>
                <li class="breadcrumb-item"><a asp-action="Index"> Eğitmenler</a></li>
                <li class="breadcrumb-item"> @(Model.Id != 0 ? Model.Name : "Eğitmen Ekle")</li>
            </ol>
        </div>
        <div class="col-md-6">
            <div class="admin-top-actions d-flex justify-content-end">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a asp-action="Upsert" asp-route-id="" class="btn btn-light"><i class="fa fa-plus"></i> Yeni Ekle</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-v1 padding-30">
        <ul class="nav tab-line tab-line border-bottom mb-4" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#Tabs_1-1" role="tab" aria-selected="true">
                    Eğitmen Bilgileri
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Tabs_1-2" role="tab" aria-selected="true">
                    Eğitmen Sayfa İçerikleri
                </a>
            </li>
            @if (Model.Id != 0)
            {
                <li class="nav-item">
                    <a id="fillFormLink" class="nav-link" data-toggle="tab" href="#Tabs_1-3" role="tab" aria-selected="true">
                        Eğitmenin Ders Kategorileri
                    </a>
                </li>
            }
        </ul>

        <form method="post" enctype="multipart/form-data">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="Tabs_1-1" role="tabpanel">
                    <div class="border-bottom mb-4 pb-4">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @if (Model.Id != 0)
                        {
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="UserId" />
                        }
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                Eğitmen Adı
                                <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Eğitmenin adını yazınız.">
                                    <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                </span>
                            </label>
                            <div class="col-md-10">
                                @if (Model.IsAdmin == true)
                                {
                                    <input asp-for="Name" class="form-control" value="@Model.Name" readonly style="cursor: not-allowed;">
                                }
                                else
                                {
                                    <input asp-for="Name" class="form-control" value="@Model.Name" autofocus>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                Email
                                <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Eğitmenin mail adresini düzenlemeniz halinde onay maili gerektirmeden güncellenecektir.">
                                    <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                </span>
                            </label>
                            <div class="col-md-10">
                                @if (Model.IsAdmin == true)
                                {
                                    <input asp-for="Email" class="form-control" value="@Model.Email" readonly style="cursor: not-allowed;">
                                }
                                else
                                {
                                    <input asp-for="Email" rows="2" class="form-control" value="@Model.Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                Email Doğrulandı Mı?
                                <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Eğitmenin email hesabının doğrulanmış olup olmadığını bu bölümden görebilirsiniz. Dilerseniz bu bölümü işaretleyerek emailin doğrulanmasını sağlayabilirsiniz.">
                                    <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                </span>
                            </label>
                            <div class="col-md-10">
                                @if (Model.IsAdmin == true)
                                {
                                    <input type="checkbox" asp-for="EmailConfirmed" class="form-check-input" checked disabled>
                                    <input type="hidden" asp-for="IsAdmin" value="true" />
                                    <input type="hidden" asp-for="EmailConfirmed" value="true" />
                                }
                                else
                                {
                                    <input type="checkbox" asp-for="EmailConfirmed" rows="2" class="form-check-input">
                                    <span asp-validation-for="EmailConfirmed" class="text-danger"></span>
                                }
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                Telefon
                                <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Eğitmenin telefon numarasını geçerli bir telefon numarası olarak yazınız.">
                                    <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                </span>
                            </label>
                            <div class="col-md-10">
                                <input asp-for="PhoneNumber" rows="2" class="form-control" value="@Model.PhoneNumber">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                Cinsiyeti
                                <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Eğitmenin cinsiyetini seçiniz.">
                                    <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                </span>
                            </label>
                            <div class="col-md-10 mt-1">
                                @foreach (var gender in System.Enum.GetValues(typeof(RenderMentor.Models.ApplicationUser.Genders)))
                                {
                                    <label for="gender@(gender)" class="ec-radio radio-thin mb-3 mr-4">
                                        <input type="radio" asp-for="Gender" id="gender@(gender)" value="@((int)gender)" />
                                        <span class="ec-radio__control"></span>
                                        <span class="ec-radio__label">@gender</span>
                                    </label>
                                }
                            </div>
                        </div>

                        @if (Model.Id == 0)
                        {
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                    Parola
                                    <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Kullanıcının parolasını yazınız.">
                                        <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                    </span>
                                </label>
                                <div class="col-md-10">
                                    <input asp-for="Password" class="form-control" required data-val-required="Kullanıcı parolası gereklidir.">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                    Parola Tekrarı
                                    <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Parolayı eksiksiz şekilde tekrar yazınız.">
                                        <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                    </span>
                                </label>
                                <div class="col-md-10">
                                    <input asp-for="ConfirmPassword" class="form-control">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        }
                        else
                        {
                            if (Model.IsAdmin != true)
                            {
                                <div class="collapse-group last">
                                    <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#passwordCollapse" aria-expanded="false" aria-controls="collapseExample">Parola Değiştirin</button>
                                    <div class="collapse" id="passwordCollapse">
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                                Yeni Parola
                                                <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Eğer değiştirecekseniz yeni parolayı yazınız.">
                                                    <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                                </span>
                                            </label>
                                            <div class="col-md-10">
                                                <input asp-for="Password" class="form-control">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                                Yeni Parola Tekrarı
                                                <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Parolayı eksiksiz şekilde tekrar yazınız.">
                                                    <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                                </span>
                                            </label>
                                            <div class="col-md-10">
                                                <input asp-for="ConfirmPassword" class="form-control">
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                    <div class="my-5">
                        @if (Model.Id != 0)
                        {
                            <partial name="_EditAndBackToListButton" model="@Model.Id" />
                        }
                        else
                        {
                            <button type="submit" class="icon-btn btn btn-success mr-2"><i class="fa fa-check-circle"></i> Kaydet</button>
                            <a asp-action="Index" class="icon-btn btn btn-info mr-2"><i class="fa fa-arrow-left"></i> Listeye Dön</a>
                            <a asp-action="Index" class="icon-btn btn btn-warning mr-2"><i class="fa fa-search"></i> Öğrenci Paneline Git</a>
                        }
                    </div>
                </div>

                <div class="tab-pane fade" id="Tabs_1-2">
                    <div class="border-bottom mb-4 pb-4">
                        <div class="form-group row mb-5">
                            <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                Profil Görseli
                                <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Eğitmenin mentorlar sayfasında büyük, kurslarında küçük olarak yer alacak görselini yükleyiniz.">
                                    <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                </span>
                            </label>
                            <div class="col-md-10">
                                <div class="image-input media align-items-end mt-4">
                                    <div class="position-relative">
                                        @if (Model.AvatarImage != null)
                                        {
                                            <a href="@Model.AvatarImage" data-fancybox="AvatarImage">
                                                <img src="@Model.AvatarImage" width="150" height="150">
                                            </a>
                                        }
                                        else
                                        {
                                            <img src="~/images/placeholder/instructor-avatar-image.jpg">
                                        }
                                    </div>
                                    <div class="media-body ml-4 mb-4 mb-md-0">
                                        <p>JPG veya PNG 255x255 px</p>
                                        <a href=""></a>
                                        <button type="button" class="upload btn btn-outline-primary">
                                            <input type="file" name="AvatarImage" id="uploadBoxAvatar">
                                            Yükle
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label text-dark font-weight-bold">
                                Eğitmen Açıklaması
                                <span class="d-inline-block" tabindex="-1" data-toggle="tooltip" title="Eğitmenin kurslarında ve mentorlar sayfasında yer alacak açıklama yazısını yazınız.">
                                    <button class="btn btn-link btn-sm" style="pointer-events: none;" type="button" disabled><i class="fa fa-question-circle"></i></button>
                                </span>
                            </label>
                            <div class="col-md-10">
                                <textarea id="instructorDesc" asp-for="Desc" rows="3" class="form-control ckeditor">@Model.Desc</textarea>
                                <span asp-validation-for="Desc" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="my-5">
                        @if (Model.Id != 0)
                        {
                            <partial name="_EditAndBackToListButton" model="@Model.Id" />
                        }
                        else
                        {
                            <button type="submit" class="icon-btn btn btn-success mr-2"><i class="fa fa-check-circle"></i> Kaydet</button>
                            <a asp-action="Index" class="icon-btn btn btn-info mr-2"><i class="fa fa-arrow-left"></i> Listeye Dön</a>
                            <a asp-action="Index" class="icon-btn btn btn-warning mr-2"><i class="fa fa-search"></i> Öğrenci Paneline Git</a>
                        }
                    </div>
                </div>

                @if (Model.Id != 0)
                {
                    <div class="tab-pane fade" id="Tabs_1-3">
                        <h4>Eğitmenin Ders Kategorileri</h4>
                        <div class="alert alert-info alert-dismissible d-flex align-items-center mb-4" role="alert">
                            <i class="fa fa-info-circle fa-2x mr-3"></i>
                            <span>Eğitmenin ders verdiği kategorileri buradan ayarlayabilirsiniz. Eğitmenin kurs detayında ve mentorlar sayfasında görülür.</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="fillForm"></div>
                    </div>
                }
            </div>
        </form>

        @if (Model.Id != 0)
        {
            <form id="InstructorCategories" asp-controller="Instructor" asp-action="InstructorCategories" method="post">
                <div class="collapse-group last">
                    <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#inCategoriesCollapse" aria-expanded="true" aria-controls="collapseExample">Eğitmene Tanımlanmış Tüm Kategoriler</button>
                    <div class="collapse show" id="inCategoriesCollapse">
                        <div class="row">
                            <button id="checkAll" type="button" class="btn btn-check-all"><i class="far fa-square"></i> <span>Tümünü Seç</span></button>
                            <hr />
                        </div>
                        <div class="row">
                            @{
                                int index = 1;
                            foreach (var category in Model.AllCategories)
                            {
                                <div class="col-md-3 col-4 mb-4">
                                    <div class="form-check form-check-inline list-check">
                                        <input type="checkbox" name="instructorCategory" id="instructorCategory_@index" class="form-check-input course-check" value="@category.Id">
                                        <label class="form-check-label" for="instructorCategory_@index">@category.Name</label>
                                    </div>
                                </div>
                                index++;
                            }
                            }
                        </div>
                    </div>
                </div>
                <button id="setUserCategories" type="submit" class="icon-btn btn btn-success"><i class="fa fa-check-circle"></i> Güncelle</button>
                <input type="hidden" name="userId" value="@Model.UserId" />
            </form>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/jquery.form.min.js"></script>
    <script>
        $('#genderMale').siblings('.ec-radio__label').text("Erkek");
        $('#genderFemale').siblings('.ec-radio__label').text("Kadın");
        @if (Model.Gender == RenderMentor.Models.ApplicationUser.Genders.Male)
        {
            <text>$('#genderMale').prop("checked", true);</text>
        }
        else
        {
            <text>$('#genderFemale').prop("checked", true);</text>
        }

        function validateInput() {
            if (document.getElementById("uploadBoxAvatar").value == "") {
                swal("Error", "Lütfen bir eğitmen profil görseli seçiniz", "error");
                return false;
            }
            return true;
        }

        $('#InstructorCategories').hide();
        $('.nav-link').click(function () {
            $('#InstructorCategories').hide();
        });
        $('#fillFormLink').click(function () {
            $('#InstructorCategories').show();
            $('#fillForm').appendTo('#InstructorCategories');
        });

        @{
            if (Model.Id != 0)
            {
                int[] selectedCategories = new int[Model.SelectedCategories.Count];
                Model.SelectedCategories.CopyTo(selectedCategories, 0);
                foreach (int item in selectedCategories)
                {
                <text>
                $('.course-check').each(function () {
                    if ($(this).val() == '@item') {
                        $(this).prop("checked", true);
                    }
                });
                </text>
                }
            }

        }

        var checkAll = false;
        $('#checkAll').click(function () {
            $(".course-check").prop("checked", !checkAll);
            $('#checkAll i').addClass(checkAll ? 'far fa-square' : 'fas fa-check-square');
            $('#checkAll i').removeClass(checkAll ? 'fas fa-check-square' : 'far fa-square');
            checkAll = !checkAll;
            $('#checkAll span').text(checkAll ? 'Tüm Seçimleri Kaldır' : 'Tümünü Seç');
        });

        $('#setUserCategories').click(function (e) {
            e.preventDefault();
            var form = $(this).form();
            var url = form.attr('action');
            form.ajaxSubmit({
                type: 'POST',
                url: url,
                success: function (data) {
                    if (data.success) {
                        toastr.success(data.message);
                    } else {
                        toastr.success(error.message);
                    }

                }
            });

            return false;
        });

    </script>
}

