
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout-student.cshtml";

    var status = Context.Request.Query["status"];

    var all = "text-secondary";
    var inprocess = "text-secondary";
    var pending = "text-secondary";
    var completed = "text-secondary";
    var rejected = "text-secondary";

    switch (status)
    {
        case "inprocess":
            inprocess = "active text-white";
            break;
        case "pending":
            pending = "active text-white";
            break;
        case "completed":
            completed = "active text-white";
            break;
        case "rejected":
            rejected = "active text-white";
            break;
        default:
            all = "active text-white";
            break;
    }
}

<div class="border-bottom mb-4 pb-4">
    <h4 class="mb-4">Siparişleriniz</h4>

    <div class="card shadow-v1 padding-30">

        <ul class="list-group flex-md-row">
            <a asp-controller="Student" asp-action="Orders" asp-route-status="all">
                <li class="list-group-item @all">Tümü</li>
            </a>
            <a asp-controller="Student" asp-action="Orders" asp-route-status="inprocess">
                <li class="list-group-item @inprocess">İşleniyor</li>
            </a>
            <a asp-controller="Student" asp-action="Orders" asp-route-status="pending">
                <li class="list-group-item @pending">Bekleniyor</li>
            </a>
            <a asp-controller="Student" asp-action="Orders" asp-route-status="completed">
                <li class="list-group-item @completed">Tamamlandı</li>
            </a>
            <a asp-controller="Student" asp-action="Orders" asp-route-status="rejected">
                <li class="list-group-item @rejected">Reddedildi</li>
            </a>
        </ul>
        <br />
        <div id="admin" class="table-responsive my-4">
            <table id="tblData" class="table table-bordered no-order">
                <thead>
                    <tr>
                        <th scope="col">Tarih</th>
                        <th scope="col">Sipariş Kodu</th>
                        <th scope="col">Toplam (TL)</th>
                        <th scope="col">Durum</th>
                        <th scope="col">Eylemler</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div> <!-- END card-->
</div>

@section Scripts {
    <script src="~/datatables/student-order.js?v=1.01"></script>
}

