@using RenderMentor.Utility
@model Pagination<RenderMentor.Models.ViewModels.BlogListVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var setBg = "/images/breadcrumb-bg.jpg";
    setBg = setBg.Replace("\\", "/");
}

<div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url(@setBg) no-repeat">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-2 text-white">
                <ol class="breadcrumb breadcrumb-double-angle bg-transparent p-0">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item">Blog</li>
                </ol>
                <h1 class="h1">Blog Makaleleri</h1>
                <p class="lead">
                    <span class="text-primary">@Model.TotalItems</span> makale listelendi
                </p>
            </div>
            <!-- Search form here -->
        </div>
    </div>
</div>

<section class="pt-5 paddingBottom-100 bg-light-v2">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                @if (Model.Count() > 0)
                {
                foreach (var blog in Model)
                {
                    string author = String.IsNullOrEmpty(blog.Author.Name) ? "Evren Çavuşoğlu" : blog.Author.Name;
                    string avatar = String.IsNullOrEmpty(blog.Author.Avatar) ? "/images/placeholder/instructor-avatar-image.jpg" : blog.Author.Avatar;
                    avatar = avatar.Replace("\\", "/");
                    <div class="list-card marginTop-40">
                        <div class="col-md-4 px-md-0"><a asp-action="Details" asp-route-SEOUrl="@blog.SEOUrl"><img class="w-100" src="@blog.Thumbnail" alt="@blog.Title"></a></div>
                        <div class="col-md-8 px-md-0">
                            <div class="card height-100p shadow-v1">
                                <div class="card-body">
                                    <a asp-action="Details" asp-route-SEOUrl="@blog.SEOUrl" class="h4 mb-3">@blog.Title</a>
                                    <p class="mb-0">@Html.Raw(blog.ShortDesc)</p>
                                </div>
                                <div class="card-footer">
                                    <div class="media">
                                        <img class="iconbox" src="@avatar" alt="@author">
                                        <div class="media-body ml-4"><a href="javascript:void(0);" class="text-primary">@author</a><br>@blog.CreateDate</div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- END col-md-8-->
                    </div><!-- END list-card-->
                }
                <partial name="_Pagination" />
                }
                else
                {
                    <div class="alert alert-info alert-dismissible d-flex my-5" role="alert">
                        <i class="fa fa-pencil-alt fa-3x mr-3"></i>
                        <div>
                            <p>Bloglarımız hazırlanmaktadır. En kısa zamanda bu sayfadan blog makalelerimizi inceleyebilirsiniz.</p>
                            <a class="icon-btn btn btn-info" href="/"><i class="fa fa-home"></i> Anasayfaya Dön</a>
                        </div>
                    </div>
                }
            </div><!-- END col-lg-9 -->
            <aside class="col-lg-3">
                <div class="card border border-light marginTop-40 marginBottom-30 shadow-v1">
                    <h4 class="card-header border-bottom mb-0 h6">Kurs Kategorileri</h4>
                    <ul class="card-body list-unstyled mb-0">
                        @await Component.InvokeAsync("CourseCategory", new { viewName = "Sidebar" })
                    </ul>
                </div>
                <div class="card marginTop-30 shadow-v1 hover:parent">
                    <img class="hover:zoomin" src="~/images/side-banner.jpg" alt="Üyeliklerimiz Hakkında Bilgi Alın">
                    <div class="card-img-overlay text-white bg-black-0_6">
                        <h4 class="card-title">
                            Üyeliklerimiz Hakkında Bilgi Alın
                        </h4>
                        <p class="my-3">
                            Öğrenci veya firma üyeliklerimiz hakkında detaylı bilgi almak için inceleyin.
                        </p>
                        <a asp-controller="Home" asp-action="Memberships" class="btn btn-white">Üyelikleri İnceleyin</a>
                    </div>
                </div>
            </aside><!-- END col-lg-3 -->
        </div><!-- END row-->
    </div><!-- END container-->
</section>

